
.menu-home {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%; 	
	margin: 0px;
	background-color: rgba(26,106,227,1);
}

.menu-home ul{
	list-style: none;
	margin: 3px;
}

.menu-home li{
	text-align: center;
	display: inline-block;
	position: relative;
	width:250px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
	margin: 3px;
	margin-bottom: 5px;
	border-radius:5px;	
}

.menu-home li:hover{
	background-color: rgba(6,86,207,1);
	box-shadow: 0px 0px 6px rgba(0,0,0,.5);
}

.menu-home a{
	font-family: sans-serif;
	font-weight: bolder;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);	
}